{% extends 'partials/base.html' %}
{% block title %}Vendas{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Peça</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Vendida por</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vendas in vendas %}
                        <tr>
                            <td>{{ vendas.peca }}</td>
                            <td>{{ vendas.peca.categoria }}</td>
                            <td>{{ vendas.venda_quantidade }}</td>
                            <td>
                                {{ vendas.staff.username }}
                            </td>
                            <td>
                                {{ vendas.data }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--End Table-->

{% endblock %}